.app{
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 1200px;
  border: 1px solid #47f0ff;
  margin-top: 15px;
}
.app1{
  border-right: 1px solid #47f0ff;
  padding:0 40px;
}
